---
import Layout from "../layouts/Layout.astro";
import DayCard from "../components/DayCard.astro";
import animePerDay from "../content/summer-2024/anime-per-day.json";
import { type AnimeSchedule } from "../env";

const animeSchedule: AnimeSchedule = animePerDay;
---

<Layout title="Anime Per Day">
  <h1 class="text-2xl font-mono text-center mt-4 mb-2">Anime Per Day</h1>
  <main class="mx-auto flex flex-col gap-0 px-2 max-w-lg">
    {
      Object.entries(animeSchedule)
        .filter(([_, animeList]) => animeList.length > 0)
        .map(([dayName, animeList]) => (
          <DayCard daySlug={dayName} animeList={animeList} />
        ))
    }
  </main>
</Layout>

<script>
  // Highlights the current day of the week.
  const today = new Date()
    .toLocaleString("en-US", { weekday: "long" })
    .toLowerCase();
  document.querySelectorAll("[data-day]").forEach((day) => {
    day
      .querySelector("h6")
      ?.classList.toggle("bg-red-800", day.getAttribute("data-day") === today);
  });
</script>

<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Zain:wght@400;700&display=swap");

  body {
    font-family: "Zain", sans-serif;
  }

  .is-today {
    background-color: #d31010;
  }
</style>
